*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Asap',sans-serif;
}

body
{
  background-image: url(../images/backcover.svg);
  background-repeat: no-repeat;
  background-size:50%;
  background-position:top right;
  
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav img{
  width: 100px;
}
.nav-items{
  display: flex;
  
  justify-content: space-between;
  color: blue;
}
.nav-items .nav-item{
  padding: 30px;
}

.intro-section{
  display: flex;
  justify-content: space-between;
}

.left-section{
  flex-basis: 30%;
  margin-left: 100px;
  margin-top: 8%;
}

.intro-section p{
  margin:50px 0;
  line-height: 2;
  color:darkblue;
}


.intro-section .left-section h1{
  font-size: 4rem;
  color:darkblue;
}


.imgs-div{
  flex-basis: 70%;
}

.imgs-div img:last-child{
  width: 60%;
  position: relative;
}




button{
  background: rgb(63,94,251);
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%); 
  outline: none;
  border: none;
  cursor: pointer;
  border-radius:25px;
  color:white;
  font-weight:600;
}


nav button{
  padding: .2rem 1rem;
}


.intro-section button{
  padding: 1rem 3rem;
}




/* responsive */
@media (max-width:650px) {

  body
{
  background-image: url(../images/backcover.svg);
  background-repeat: no-repeat;
  background-size:100%;
  background-position:top center;
  
}

nav{
  justify-content:flex-start;
  margin-left: 10px;
  margin-top: 20px;
}


  nav .nav-items{
    display: none;
  }
  nav button{
    display: none;
  }
  
  .intro-section{
    flex-direction: column;
   
  }
  .left-section{
    text-align: center;
    margin-left: 0;
    
    margin-top: 20%;
  }
  

  .intro-section p{
    margin:50px 0;
    line-height: 2;
    color:darkblue;
    width: 100%;
    text-align: center;
    
  }
  
}

